body {
    color: aliceblue;
}

/*Ki ne merd tölölni mert ennek köszönhetően reszponzív a háttér*/
.video-fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.videnyofix {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/*És itt van vége a háttér formázásának*/

.navbar {
    background-color: rgb(180, 75, 0);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(73, 73, 73);
}

#választó {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgb(180, 75, 0);
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(10px);
    list-style: none;
}

.keret {
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgb(180, 75, 0);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
}

.img-fluid {
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
}

.btn {
    color: white;
}

.btn:hover {
    color: gray;
}

#termek {
    float: right;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#kep11 {
    width: 80%;
    height: auto;
    border-radius: 4%;
}

#megrendelgomb {
    background-color: rgb(14, 163, 0);
}

#megrendelgomb:hover {
    color: rgb(67, 66, 65);
}

#visszagomb {
    background-color: rgb(0, 121, 158);
}


a,
a:hover {
    text-decoration: none;
    color: white;
}

#fiokletrehoz {
    color: rgb(127, 121, 121);
    font-size: large;
}

#bejelentkez {
    color: rgb(147, 147, 147);
}

#dobozos {
    width: 40%;
    margin: auto;
    margin-top: 10%;
}

.keretes {
    padding: 20px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgb(180, 75, 0);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

#regiszt {
    background-color: aquamarine;
    text-align: center;
}

.szöveg {
    font-size: xx-large;
}