#h1{
    display: flex;
    margin-left: 925px;
    margin-top: 400px;
    color: grey;
}
#tableinfo{
    display: flex;
    margin-left: 925px;
}
#info{
    width: 800px;
    height: 200px;
}
#info, tr, td{
    border: solid black 2px;
    margin-left: 570px;
}
#tovabb{
    border-radius: 10%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(52, 52, 212), rgb(238, 48, 48));
}
#button{
    display: flex;
    margin-left: 925px;
    margin-top: 350px;
}
#dokakep{
    width: 20px;
    height: 20px;
}
#divinfo{
    border: solid black 1.5px;
}
#info2{
    
}
#dobaco, #leiras{
    width: 800px;
    border: solid black 2px;
    border-radius: 2.5%;
    margin-left: 570px;
}