.navbar{
    margin-left: 45%;
    margin-right: 5%;
}
.navbarcim{
    font-size: larger;
    font-weight: bolder;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: orange;
}
    